extends layout

function encode(str){return encodeURIComponent(str).replace(/%20/g,'+')}

block head
  script(src="/listscript.js")
  link(href="/liststyle.css", rel="stylesheet")
  style
    #listheader {
      top: 42px;
    }
    input[type="number"] {
      border-radius: 0;
      padding: 0;
      margin: 2px;
      width: 4em;
    }
    label {
      display: inline;
      margin: 0;
    }
  style#liststyle
    #itemlist {
      /* empty - values are added/changed by script */
    }

block screenwide
  header#listheader
    label
      ="Columns: "
      input(type="number",min="1",max="12",step="1",value="1"
        oninput="changeListColumns(this.value)")
    =" (chug alert!) "
    label
      input(type="checkbox",onchange="scrollPage(this.checked)")
      =" Scroll page"
    =" "
    label
      ="every "
      input(type="number",min="1",max="7500",step="75",value="75"
        oninput="setScrollInterval(this.value)")
      =" ms"
    =" "
    label
      ="by "
      input(type="number",min="1",max="500",step="1",value="1"
        oninput="setScrollSize(this.value)")
      =" px"
  ul#itemlist: for item in topics
    li: a(href="/inspect/"+encode(item.topic)+(item.scope?'/'+encode(item.scope):'')).item
      span.name= item.topic
        if item.scope
          =" "
          span.scope (#{item.scope})
