!!!
html
  head
    meta(charset="utf-8")
    title NO WAY!!! NO WAY!!!
    style
      body {
        font-family: sans-serif;
      }
      form {
        margin: 4px auto;
        padding: 4px;
        width: auto;
        border: 4px solid maroon;
      }
      input[type="text"] {
        width: 300px;
      }
      textarea {
        width: 90%;
      }
      .collisiongroup {
        margin: 4px auto;
        padding: 4px;
        width: 800px;
        border: 4px solid black;
      }
    script(src='static/xhrapi.js')
    script
      function removeFromGroup(node) {
        return function() {
          var group = node.parentNode
          group.removeChild(node)
          if(group.children.length == 1){
            group.parentNode.removeChild(group);
          }
        }
      }
      function drop(form) {
          var wpfd = new FormData()
          var title = form.elements.namedItem('topic').value
          wpfd.append('topic',title)
          wpfd.append('scope',form.elements.namedItem('scope').value)
          wpfd.append('host','en.wikipedia.org')

          apicall('drop',wpfd)

          apicall(method,new FormData(form),removeFromGroup(form))
        }
  body
    for collision in collisions
      .collisiongroup
        url = collision.host + collision.path
        a(href='http://'+url).decider= url
        for suggestion in collision.suggestions
          - var wppath = '/wiki/' + encodeURIComponent((suggestion.scope?suggestion.topic+' ('+suggestion.scope+')':suggestion.topic).replace(' ','_'))
          form.suggestion
            input(type="hidden",name="sid",value=suggestion._id)
            input(type="hidden",name="host",value=collision.host)
            input(type="hidden",name="path",value=collision.path)
            input(type="hidden",name="wppath",value=wppath)
            .idline
              label Topic
                input(type="text", name="topic", value=suggestion.topic)
              label Scope
                input(type="text", name="scope", value=suggestion.scope)
            .notes
              label Notes
                a(href='http://en.wikipedia.org'+wppath) (Wikipedia page)
                br
                textarea(name="notes")= suggestion.notes
            .actions
              button(type="button",onclick="approve(this.form)") Approve
              button(type="button",onclick="drop(this.form)") Remove
