!!!
html
  head
    meta(charset="utf-8")
    title NO WAY!!! NO WAY!!!
    style
      body {
        font-family: sans-serif;
      }
      form {
        margin: 4px auto;
        padding: 4px;
        width: auto;
        border: 4px solid maroon;
      }
      input[type="text"] {
        width: 300px;
      }
      textarea {
        width: 90%;
      }
      .collisiongroup {
        margin: 4px auto;
        padding: 4px;
        width: 800px;
        border: 4px solid black;
      }
    script(src='static/xhrapi.js')
    script
      function removeFromGroup(node) {
        return function() {
          var group = node.parentNode
          group.removeChild(node)
          if(group.children.length == 0){
            group.parentNode.removeChild(group);
          }
        }
      }
      function callWithShadowWikipediaFD(method){
        return function(form) {
          var wpfd = new FormData()
          var title = form.elements.namedItem('topic').value
          wpfd.append('topic',title)
          wpfd.append('scope',form.elements.namedItem('scope').value)
          wpfd.append('host','en.wikipedia.org')
          wpfd.append('path','/wiki/' + encodeURIComponent(title.replace(' ','_'))
          wpfd.append('notes','')

          //yes, this is a goofy way to approach this,
          //but it's the one way to do it that doesn't need the OID.
          if(method == 'merge') {
            apicall('merge',wpfd)
          }
          apicall('drop',wpfd)

          apicall(method,new FormData(form),removeFromGroup(form))
        }
      }
      var approve = callWithShadowWikipediaFD('merge')
      var drop = callWithShadowWikipediaFD('drop')
  body
    for collision in collisions
      .collisiongroup
        url = collision.host + collision.path
        a(href='http://'+url).decider= url
        for suggestion in collision.suggestions
          form.suggestion
            input(type="hidden",name="sid",value=suggestion._id)
            input(type="hidden",name="host",value=collision.host)
            input(type="hidden",name="path",value=collision.path)
            .idline
              label Topic
                input(type="text", name="topic", value=suggestion.topic)
              label Scope
                input(type="text", name="scope", value=suggestion.scope)
            .notes
              label Notes
                br
                textarea(name="notes")= suggestion.notes
            .actions
              button(type="button",onclick="approve(this.form)") Approve
              button(type="button",onclick="drop(this.form)") Remove
              button Deal With Later
