!!!
html
  head
    meta(charset="utf-8")
    title Report: #{reportName}
    style
      body {
        font-family: sans-serif;
      }
      .name {
        color: #800;
      }
      .scope {
        color: #00c;
      }
      ul {
        margin-top: 48px;
      }
      header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 4px 8px;
        background: white;
        border-bottom: 4px solid black;
      }
    style#liststyle
      ul {
        /* empty - values are added/changed by script */
      }
    script
      var columnCountNames = [
        'webkitColumnCount',
        'mozColumnCount',
        'columnCount']
      function changeListColumns(numcols) {
        var style = document.getElementById('liststyle').sheet.cssRules[0].style
        for(var i = 1; i < columnCountNames.length; i++){
          if(style[columnCountNames[i]] !== undefined) {
            style[columnCountNames[i]] = numcols;
          }
        }
      }
      var scrollInterval = null;;
      var scrollMs = 10, scrollPx=1;
      function scrollByVar() {
        scrollBy(0,scrollPx);
      }
      function scrollPage(checked) {
        if(checked === null || checked === false) {
          clearInterval(scrollInterval);
          scrollInterval = null;
        } else {
          console.log(checked)
          scrollInterval = setInterval(scrollByVar,scrollMs);
        }
      }
      function setScrollSize(value){
        scrollPx = +value;
      }
      function setScrollInterval(value){
        if(scrollInterval){
          clearInterval(scrollInterval);
          scrollInterval = setInterval(scrollByVar,value);
        }
        scrollMs=value;
      }
  body
    header
      label
        ="Columns: "
        input(type="number",min="1",max="12",step="1",value="1"
          oninput="changeListColumns(this.value)")
      =" (chug alert!) "
      label
        input(type="checkbox",onchange="scrollPage(this.checked)")
        =" Scroll page"
      =" "
      label
        ="every "
        input(type="number",min="1",max="7000",step="1",value="10"
          oninput="setScrollInterval(this.value)")
        =" ms"
      =" "
      label
        ="by "
        input(type="number",min="1",max="500",step="1",value="1"
          oninput="setScrollSize(this.value)")
        =" px"
    ul: for item in reportItems
      li <span class="name">#{item.topic}</span>
        if item.scope
          |  (<span class="scope">#{item.scope}</span>)
